body{
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.container{
  padding: 20px;         
  border-radius: 10px;    
  max-width: 400px;      
  margin: 20px auto; 
}
