body{
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: beige;
}
h1{
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.container{
}

